body{
font-family: Arial;
background:#f2f2f2;
margin:0;
}

nav{
background:#1e1e2f;
padding:15px;
display:flex;
justify-content:space-between;
}

nav a{
color:white;
text-decoration:none;
margin-right:15px;
font-weight:bold;
}

.container{
width:90%;
margin:auto;
margin-top:30px;
}

.products{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:white;
border-radius:8px;
overflow:hidden;
box-shadow:0 3px 10px rgba(0,0,0,0.2);
}

.card img{
width:100%;
height:200px;
object-fit:cover;
}

.card-body{
padding:15px;
}

.price{
color:green;
font-size:18px;
font-weight:bold;
}

button{
background:#007BFF;
color:white;
border:none;
padding:10px;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#0056b3;
}

input{
width:100%;
padding:10px;
margin-bottom:10px;
}